<%- include('../partials/head') %> 

<body>
  <div class="container">
      <form action="/create" method="POST" onsubmit="handleFormSubmit(event)" class="mt-5">
      <div class="mb-3">
        <label for="userName" class="form-label">Name</label>
        <input
          type="name"
          name="name"
          class="form-control"
          id="userName"
          onchange="validate(event)"
        />
        <div id="nameError" class="form-text text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          novalidate="novalidate"
          class="form-control"
          id="userEmail"
          onchange="validate(event)"
        />
        <div id="emailError" class="form-text text-danger"></div>
      </div>
      <button type="submit" class="btn btn-success">Create User</button>
    </form>
  </div>

  <script>
    let userNameEle = document.getElementById("userName");
    let userEmailEle = document.getElementById("userEmail");
    let nameErrorEle = document.getElementById("nameError");
    let emailErrorEle = document.getElementById("emailError");

    let userNameValue = userNameEle.value;
    let userEmailValue = userEmailEle.value;

    function validate(event) {
      if (event.target.id === "userName") {
        if (!validator.isAlpha(event.target.value)) {
          nameErrorEle.textContent =
            "Please Enter a Valid Name, it should contain only letters";
        } else {
          nameErrorEle.textContent = "";
        }
      } else {
        if (!validator.isEmail(event.target.value)) {
          emailErrorEle.textContent = "Please Enter a Valid Email Address";
        } else {
          emailErrorEle.textContent = "";
        }
      }
    }

    function handleFormSubmit(event) {
      if (!validator.isAlpha(userNameEle.value)) {
        nameErrorEle.textContent =
          "Please Enter a Valid Name, it should contain only letters";
      } else {
        nameErrorEle.textContent = "";
      }

      if (!validator.isEmail(userEmailEle.value)) {
        emailErrorEle.textContent = "Please Enter a Valid Email Address";
      } else {
        emailErrorEle.textContent = "";
      }

      if (
        validator.isAlpha(userNameEle.value) &&
        validator.isEmail(userEmailEle.value)
      ) {
        return true;
      } else {
        event.preventDefault();
        return false;
      }
    }
  </script>
</body>

<%- include('../partials/footer') %>
