<%- include('../partials/head') %> 

<body>
  <div class="container">
      <form action="/delete" method="DELETE" onsubmit="handleFormSubmit(event)" class="mt-5">
      <div class="mb-3">
        <label for="userId" class="form-label">Id of the User</label>
        <input
          type="text"
          name="id"
          class="form-control"
          id="userId"
        />
        <div id="idError" class="form-text text-danger"></div>
      </div>
      <button type="submit" class="btn btn-success">Delete User</button>
    </form>
  </div>

  <script>
    function handleFormSubmit(event) {
     
    }
  </script>
</body>

<%- include('../partials/footer') %>
