<%- include('../partials/head') %> 

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="alert alert-success" role="alert">
        Data Sent to the Registered Email Address!
      </div>

      <a href="/"><button class="btn btn-success">Home</button></a>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
