<%- include('../partials/head') %> 

<body>
  <div class="container">
    <form
      action="/edit"
      method="POST"
      onsubmit="handleFormSubmit(event)"
      class="mt-5"
    >
      <div class="mb-3">
        <label for="userId" class="form-label">Id</label>
        <input
          class="form-control"
          name="id"
          id="userId"
          type="text"
          value="<%= data[0]._id %>"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="userName" class="form-label">name</label>
        <input
          type="name"
          name="name"
          class="form-control"
          id="userName"
          placeholder="<%= data[0].name %>"
          onchange="validate(event)"
        />
        <div id="nameError" class="form-text text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          novalidate="novalidate"
          class="form-control"
          id="userEmail"
          placeholder="<%= data[0].email %>"
          onchange="validate(event)"
        />
        <div id="emailError" class="form-text text-danger"></div>
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">status</label>
        <input
          class="form-control"
          id="status"
          name="status"
          type="text"
          value="<%= data[0].status %>"
          readonly
        />
      </div>
      <div class="mb-3">
        <label for="deleteStatus" class="form-label">isDeleted</label>
        <input
          class="form-control"
          id="deleteStatus"
          name="isDeleted"
          type="text"
          value="<%= data[0].isDeleted %>"
          readonly
        />
      </div>
      <button type="submit" class="btn btn-success">Save Changes</button>
    </form>
  </div>

  <script>
    let userNameEle = document.getElementById("userName");
    let userEmailEle = document.getElementById("userEmail");
    let nameErrorEle = document.getElementById("nameError");
    let emailErrorEle = document.getElementById("emailError");

    let userNameValue = userNameEle.value;
    let userEmailValue = userEmailEle.value;

    let regName = /^([a-zA-Z ]){2,30}$/;
    let regEmail = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;

    function validate(event) {
      if (event.target.id === "userName") {
        if (!validator.isAlpha(event.target.value)) {
          nameErrorEle.textContent =
            "Please Enter a Valid Name, it should contain only letters";
        } else {
          nameErrorEle.textContent = "";
        }
      } else {
        if (!validator.isEmail(event.target.value)) {
          emailErrorEle.textContent = "Please Enter a Valid Email Address";
        } else {
          emailErrorEle.textContent = "";
        }
      }
    }

    function handleFormSubmit(event) {
      if (!validator.isAlpha(userNameEle.value)) {
        nameErrorEle.textContent =
          "Please Enter a Valid Name, it should contain only letters";
      } else {
        nameErrorEle.textContent = "";
      }

      if (!validator.isEmail(userEmailEle.value)) {
        emailErrorEle.textContent = "Please Enter a Valid Email Address";
      } else {
        emailErrorEle.textContent = "";
      }

      if (
        userNameEle.value &&
        userEmailEle.value
      ) {
        return true;
      } else {
        event.preventDefault();
        return false;
      }
    }
  </script>
</body>

<%- include('../partials/footer') %>
