<%- include('../partials/head') %> 

<body>
  <div class="container-fluid">
    <div class="row p-5">
      <div class="col-6">
        <form action="/downloadUserData" method="POST" onsubmit="handleDownloadSubmission(event)">
          <select name="dataFormat">
            <option>Data as PDF</option>
            <option>Data as CSV</option>
          </select>
          <button class="btn btn-success" type="submit">Send Pdf to Mail</button>
        </form>
      </div>
      <div class="col-6 d-flex flex-row justify-content-end">
        <form action="/downloadUserData" method="POST">
          <select name="dataFormat">
            <option>Download PDF</option>
            <option>Download CSV</option>
          </select>
          <button class="btn btn-success">Download</button>
        </form>
      </div>
    </div>
    <div class="row p-5 mb-5">
      <div class="col-12">
        <h3>USERS LIST:</h3>
        <table class="table table-success table-striped">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Status</th>
              <th class="text-center">Edit</th>
              <th class="text-center">Delete</th>
            </tr>
          </thead>
          <tbody>
            <% data.forEach((object, index) => { %>
                <tr>
                  <td><%= object._id %></td>
                  <td><%= object.name %></td>
                  <td><%= object.email %></td>
                  <td><%= object.status === 'Active' ? 'Active' : 'InActive' %></td>
                  <td class="text-center">
                    <a
                      class="text-dark"
                      href="<%= `http://localhost:4000/editUser/${object._id}` %>"
                      ><i
                        class="fa-solid fa-pen-to-square edit-delete"
                        id="editIcon"
                        style="cursor: pointer"
                      ></i
                    ></a>
                  </td>
    
                  <td class="text-center">
                    <a
                        class="text-dark"
                        style="text-decoration: none"
                        href="<%= `http://localhost:4000/deleteUser/${object._id}` %>"
                    >
                    <i
                      class="fa-solid fa-trash edit-delete"
                      data-bs-toggle="modal"
                      data-bs-target=
                      style="cursor: pointer"
                    ></i>
                    </a>
                  </td>
    
                </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</body>

<%- include('../partials/footer') %>
